.modal_lm {
    z-index: 1000;
    /* Make sure your modal renders above the Leaflet map. */
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    transform: scale(1.1);
    transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
  }
  

  .close-button {
    float: right;
    width: 1.5rem;
    line-height: 1.5rem;
    text-align: center;
    cursor: pointer;
    border-radius: 0.25rem;
    background-color: lightgray;
  }
  
  .close-button:hover {
    background-color: darkgray;
  }
  
  .show-modal {
    overflow-y: scroll;
    opacity: 1;
    visibility: visible;
    transform: scale(1.0);
    transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
  }

  #location_button{
    background: none;
    border: none;
}

.legend {
  padding: 6px 8px;
  font: 14px Arial, Helvetica, sans-serif;
  background: white;

  /* background: rgba(255, 255, 255, 0.8); */
  /*box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);*/
  border-radius: 5px;
  line-height: 24px;
  /* color: #555; */
}

.legend h4 {
  text-align: center;
  font-size: 12px;
  margin: 2px 12px 8px;
  color: #777;
}

.legend span {
  position: relative;
  bottom: 3px;
}

.legend i {
  width: 18px;
  height: 18px;
  border-radius: 45px;
  float: left;
  margin: 0 8px 0 0;
  opacity: 0.7;
}