$color-bg:#F9F9F9;
$color-active:#297EB4;
$color-normal:#297EB4;
$color-sec:#3D3D3D;
$color-com:#ff0061;
$color-seccom:#FF00FF;
$color-pos:#33CCCC;
$color-neg:#FC5F4F;
$color-neu:#FFC060;
$color-text:#7D7D7D;
